{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/5d0157a4ce.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{ static 'css/insta.css'}">
    <title>Base</title>
  </head>
  <body>
    <header>
      <div class="navigation">
        <div class="instalogo">
          <a href="/"><i class="fab fa-instagram"></i></a>
          <a class="vl" href="/">|</a>
          <a class="inst" href="/">Instagram</a>
        </div>
        <div class="search bar">
          <input type="search" placeholder="search">
          <a class="search" href=""><i class="fas fa-search"></i></a>
        </div>
        <div class="contact icons">
          <a class="explore" href="/"><i class="fas fa-compass"></i></a>
          <a class="likes" href="/"><i class="far fa-heart"></i></a>
          <a class="profile" href="/"><i class="fas fa-users"></i></a>
        </div>
      </div>
    </header>
    <div class="content container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
